
<div class="row">
  <div class="col-12 col-lg-4 col-md-4 p-2">
    <img src={{photos[0]}} class="img-fluid picture-border m-1" alt="" (click)="openInTab(photos[0])">
    <img src={{photos[1]}} class="img-fluid picture-border m-1 " alt="" (click)="openInTab(photos[1])">
  </div>
  <div class="col-12 col-lg-4 col-md-4 p-2">
    <img src={{photos[2]}} class="img-fluid picture-border m-1" alt="" (click)="openInTab(photos[2])">
    <img src={{photos[3]}} class="img-fluid picture-border m-1 " alt="" (click)="openInTab(photos[3])">
    <img src={{photos[4]}} class="img-fluid picture-border m-1 " alt="" (click)="openInTab(photos[4])">
  </div>
  <div class="col-12 col-lg-4 col-md-4 p-2">
    <img src={{photos[5]}} class="img-fluid picture-border m-1" alt="" (click)="openInTab(photos[5])">
    <img src={{photos[6]}} class="img-fluid picture-border m-1" alt="" (click)="openInTab(photos[6])">
    <img src={{photos[7]}} class="img-fluid picture-border m-1" alt="" (click)="openInTab(photos[7])">
  </div>
</div>
<!-- <div>HELLO PHOTOS</div> -->

<!-- <img *ngFor="let photo of photos " src={{photo}} alt=""> -->

