<!--The content below is only a placeholder and can be replaced.-->








<div class="container-fluid " >

        
     
  <!-- FORM -->
  <div class="row">
    <div class="col-12 p-0 text-center mt-5 text-light">
        <search-form (itemsData)="getItems($event)" (cleared)="clearForm()"> </search-form>
    </div>
  </div>

  <!-- RESULTS AND WISHLIST BUTTONS -->
  <div class="row">
    <div class="col-12  m-auto  text-center">
        <button type="button " class="btn btn-sm mr-1" [ngClass]="resultsButton" (click)="goToResults()">Results</button>
        <button type="button" class="btn btn-sm " [ngClass]="wishlistButton" (click)="goToWishlist()">Wishlist</button>
    </div>
  </div>


<!-- CONTENT SECTION -->
  <div class="row" [ngSwitch]= "currentSection">
      <!-- PROGRESS BAR -->
      <div *ngSwitchCase = "sections.progressBar" class="col-12 mt-4 ">
          <div class="progress col-lg-8 col-md-8 col-12 m-auto">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </div>
      <!-- Results -->
      <div class="col-12 text-center mt-4" *ngSwitchCase = "sections.results" >
            <app-items-table [items]="items" [item]="resultsItem" (itemSelected)="resultsItemSelected($event)"> 
            </app-items-table>
      </div>
      <!-- WishList-Table -->
      <div class="col-12 text-center mt-4" *ngSwitchCase = "sections.wishlist" >
        <app-wishlist (removeFromCart)="removeFromCart($event)" [item]="wishlistItem" (itemSelected)="wishlistItemSelected($event)"></app-wishlist>
      </div>
  </div>
</div>

     
  







