











    <form class="col-lg-8 col-md-8 col-12 m-auto bg-dark small p-0 pt-2 "  [formGroup]="myForm" (ngSubmit)="submitForm()">
        <p class="h3 m-4 top-bottom-border pt-2 pb-2 "> Product Search</p>
        <div class="col-lg-9 col-md-9 col-12 m-auto  p-0">
            <!-- KEYWORD -->
            <div class="form-group row text-left">
                <label for="keyword" class="col-lg-3 col-md-3  col-12 col-form-label h6">keyword<span class="text-danger">*</span></label>
                <div class="col-lg-8 col-md-8 col-12 pl-0">
                    <input type="text" class="form-control form-control " name="keyword" id="keyword" 
                            formControlName="keyword"
                            [ngClass]="{'border border-danger' : keyword.invalid && keyword.touched}"  placeholder="Enter Product Name (e.g. iPhone 8)">
                    <div *ngIf="keyword.touched && keyword.invalid" class="text-danger text-left">Please enter a keyword</div>
                </div>
            </div>
            <!-- CATEGORY -->
            <div class="form-group row text-left">
                <label for="category" class="col-lg-3 col-md-3  col-12 col-form-label">Category</label>
                <select class="custom-select col-lg-3 col-md-3 col-12 form-control-sm" formControlName="category" >
                        <option value="0"> All Categories</option>
                        <option value="550">Art</option>
                        <option value="2984">Baby</option>
                        <option value="267">Books</option>
                        <option value="11450">Clothing, Shoes &Accessories</option>
                        <option value="58058">Computers/Tablets & Networking</option>
                        <option value="26395">Health & Beauty</option>
                        <option value="11233">Music</option>
                        <option value="1249">Video Games & Consoles</option>
                </select>
            </div>
            <!-- CONDITION -->
            <div class="form-group row text-left">
                <label for="condition" class="col-lg-3 col-md-3 col-12 col-form-label">Condition</label>
                <div class="col-lg-8 col-md-8 col-12 pl-0">
                    <div class="form-check form-check-inline">
                        <input  formControlName="new" type="checkbox" class="form-check-input" name="new">
                        <label  for="new" class="form-check-label">New</label>
                    </div>
                    <div class="form-check form-check-inline">
                            <input  formControlName="used" type="checkbox" class="form-check-input" name="used">
                            <label for="used" class="form-check-label">used</label>
                    </div>
                    <div class="form-check form-check-inline">
                            <input  formControlName="unspecified" type="checkbox" class="form-check-input" name="undefined">
                            <label for="unspecified" class="form-check-label">undefined</label>
                    </div>
                </div>
            </div>
            <!-- SHIPPING -->
            <div class="form-group row text-left">
                <label for="category" class="col-lg-3 col-md-3 col-12 col-form-label">Shipping Options</label>
                <div class="col-lg-8 col-md-8 col-12 pl-0">
                        <div class="form-check form-check-inline">
                        <input formControlName="local" type="checkbox" class="form-check-input" name="local">
                        <label for="local" class="form-check-label">Local Pickup</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input formControlName="free" type="checkbox" class="form-check-input" name="free">
                        <label for="free" class="form-check-label">Free Shipping</label>
                    </div>  
                </div>
                            
            </div>
            <!-- DISTANCE -->
            <div class="form-group row text-left">
                <label for="distance" class="col-lg-3 col-md-3 col-12 col-form-label">Distance (Miles)</label>
                <div class="col-lg-8 col-md-8 col-12 pl-0">
                        <input formControlName="distance"  type="text" class="form-control form-control" id="keyword" value="10" name="distance">
                </div>
            </div>
            <!-- FROM -->
            <div class="form-group row text-left">
                <label for="distance" class="col-lg-3 col-md-3 col-12 col-form-label">From<span class="text-danger">*</span></label>
                <div class="col-lg-8 col-md-8 col-12 pl-0">
                    <div class="custom-control custom-radio">
                        <input formControlName="zip" type="radio" id="customRadio1" name="zip" class="custom-control-input" value = "0">
                        <label class="custom-control-label" for="customRadio1">Current Location</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input formControlName="zip" type="radio" id="customRadio2" name="zip" class="custom-control-input" value="1">
                        <label class="custom-control-label" for="customRadio2">Other. Please specify zip code:</label>
                    </div>
                    <input  matInput [ngClass]="{'border border-danger' : ((location.value=='') && (location.touched))}"
                            formControlName="location"  aria-label="Number"  [matAutocomplete]="auto" type="text" class="form-control form-control" id="zip"  name="zip">


                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of options" [value]="option">
                    {{option}}
                    </mat-option>
                </mat-autocomplete>
                    
                    <div *ngIf="location.touched && (location.value=='')" class="text-danger text-left">Please enter a zipcode</div>

                </div>
            </div>
            <!-- BUTTONS -->
            <div class="form-group row p-3 text-left">
                    <button type="submit" [disabled]="submitDisabled" class="btn btn-light  mr-3"  > <i class="material-icons align-bottom">search</i>Search</button>
                    <button type="button" class="btn btn-light" (click)="clearForm()" > <i class="material-icons align-bottom">clear_all</i> Clear</button>
            </div>
        </div>
       

    
      

    </form> 





    
  

        











